# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS / Windows
.DS_Store
Thumbs.db

# Generated/local data
data/

debug_frames/*.png

# Secrets / Environment Variables
.env

# Logs
*.log

# Frontend (For Vanilla JS or frameworks)
node_modules/
